@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: 0 auto;
  width: 1077px;
}

.input {
  position: relative;
  margin-top: 23px;
  margin-bottom: 15px;
}

input {
  padding: 18px 55px 15px 26px;
  width: 631px;
  height: 52px;
  left: 226px;
  top: 209px;
  background: #5A5C66;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  border: none;
  outline: none;
}

.icon {
  position: absolute;
  margin-left: -40px;
  width: 21px;
  height: 21px;
  top: 17px;
  color: #fff;
}

.table-bordered thead {
  height: 54px;
}

.table>thead {
  vertical-align: middle;
}

img, svg {
  margin-left: 34px;
}


.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: none;
  color: #474955;
}

.table-bordered thead tr th {
  min-width: 110px;
  background: #474955;
  border: none;
  color: #fff;
}

.table-bordered thead tr th:nth-child(1) {
  padding-left: 23px;
}

.table-bordered thead tr th:nth-child(2) {
  padding-left: 110px;
}

.table-bordered thead tr th:nth-child(3) {
  padding-left: 121px;
}

.table-bordered td {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #474955;
}

.paginationButtons {
  padding: 0;
}

.paginationButtons, .pagination {
  list-style: none;
  margin: 0 auto;
  width: 1010px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paginationButtons li a {
  list-style: none;
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #474955;
}

.previousButton, .page-link {
  text-decoration: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #474955;
}

.nextButton {
  text-decoration: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #474955;
}

.activeButton a {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #7EBC3C;
}

.disabledButton a {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn {
  font-weight: 500;
  font-size: 24px;
  line-height: 137.69%;
  color: #474955;
}

.pages {
  margin: 0 auto;
  width: 1010px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
}

.active--page{
  padding: 0 13px;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #7EBC3C;
}

.page {
  padding: 0 13px;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #474955;
}

.pages ul li a .active {
  font-weight: 700;
  font-size: 18px;
  line-height: 137.69%;
  color: #7EBC3C;
}